@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Haffer Trial";
  src: url("./fonts/Haffer-TRIAL-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-font: "Haffer-TRIAL", sans-serif;
}

body {
  font-family: var(--main-font);
}
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom button hover effects */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}
